.footer {
  background-color: var(--color-grey);

  &__wrp {
    padding-top: 60px;
    padding-bottom: 60px;

    color: var(--color-wihte);

    @include widthPage;
    @extend %margCenter;
  }

  &__nav-item {
    padding-top: 8px;
    padding-bottom: 8px;

    font-size: 16px;
  }

  &__nav {
    @extend %flexColumStart;
  }

  &__wrp-cont {
    @extend %flexStartBetwin;
  }

  &__social-wrp {
    gap: 50px;

    @extend %flexStartBetwin;
  }
}
