.about-project {
  margin-bottom: 120px;

  @include widthPage;
  @extend %margCenter;

  @include w860 {
    margin-bottom: 80px;
  }

  & .title {
    margin-bottom: 20px;

    @include w860 {
      margin-bottom: 30px;
    }
  }

  &__wrp-list {
    max-width: 580px;
    width: 100%;
    text-align: justify;
  }

  &__wrp-text {
    gap: 16px;
    @extend %flexStartBetwin;

    @include w620 {
      gap: 0;

      flex-direction: column;
    }
  }

  &__specif-item {
    width: 100%;

    padding: 12px;
    @include set-cart-count-in-row-mar(3);

    border-right: 1px solid var(--color-grey-70);
    border-left: 1px solid var(--color-grey-70);

    &:nth-child(2),
    &:nth-child(5) {
      border-right: 1px solid #c3c3c300;
      border-left: 1px solid #c3c3c300;
    }

    @extend %flexColumCentre;

    @include w620 {
      justify-content: flex-start;
      @include set-cart-count-in-row-mar(2);

      &:nth-child(1) {
        border: none;
        border-right: 1px solid var(--color-grey-70);
      }

      &:nth-child(2) {
        border: none;
      }

      &:nth-child(3) {
        border: none;
        border-right: 1px solid var(--color-grey-70);
      }

      &:nth-child(4) {
        border: none;
      }

      &:nth-child(5) {
        border: none;
        border-right: 1px solid var(--color-grey-70);
      }

      &:nth-child(6) {
        border: none;
      }

      &:last-child {
        border: none;
      }
    }
  }

  &__specif-item-img {
    margin-bottom: 30px;
  }

  &__specif-item-title {
    width: 100%;

    margin-bottom: 10px;

    font-weight: 700;
    text-align: center;
  }

  &__specif-list {
    row-gap: 40px;
    @extend %flexWrapSpaseBetwin;

    @include w620 {
      row-gap: 30px;

      justify-content: center;
    }
  }

  &__specif-item-text {
    text-align: center;
  }

  &__title {
    margin-bottom: 50px;

    @include w860 {
      margin-bottom: 40px;
    }
  }

  &__title-style {
    margin-bottom: 16px;

    font-size: 60px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: var(--color-main-active);
    text-align: center;

    @include w860 {
      font-size: 30px;
    }
  }

  &__specif-list + &__specif-list {
    margin-top: 40px;
  }
}
