.alert {
  background-color: var(--color-main-active);
  color: var(--color-wihte);

  font-size: 32px;
  line-height: 130%;

  @extend %flexColumCentre;

  &.modal {
    max-width: 1200px;
    width: 100%;

    padding: 90px 24px;

    background-color: var(--color-main-active-70);
    border-radius: 0;

    &.active {
      height: auto;
    }

    @include w1260 {
      max-width: calc(100vw - 36px);
    }
  }

  & .title {
    color: var(--color-wihte);
  }

  @include w860 {
    font-size: 24px;
  }

  &__title {
    margin-bottom: 30px;

    text-align: center;
  }

  &__text {
    margin-bottom: 74px;

    font-size: 30px;
    text-align: center;
  }

  &__btn-close {
    width: 40px;
    height: 40px;

    position: absolute;

    right: 40px;
    top: 40px;

    cursor: pointer;
  }

  &__btn-close-t,
  &__btn-close-b {
    width: 31px;
    height: 1px;

    display: flex;

    position: absolute;
    top: 16px;
    right: 5px;

    background-color: var(--color-wihte);
  }

  &__btn-close-t {
    transform: rotate(45deg);
  }

  &__btn-close-b {
    transform: rotate(-45deg);
  }
}
