.separator {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: var(--color-main-active);

  & .sub-title,
  & .main-style-text {
    color: var(--color-wihte);
  }

  & .main-style-text {
    width: 100%;
  }

  & .main-style-text > p {
    text-align: left;
  }

  & .title {
    color: var(--color-wihte);
  }

  &__wrp {
    gap: 5px;

    @include widthPage;
    @extend %margCenter;
    @extend %flexStartBetwin;
    flex-direction: column;

    @include w620 {
      // gap: 10px;

      flex-direction: column;
    }
  }
}
