.why-choose {
  margin-bottom: 120px;

  @include widthPage;
  @extend %margCenter;

  @include w860 {
    margin-bottom: 80px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
    border-radius: 50%;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #ccc; /* колір неактивної точки */
    opacity: 1;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    border-radius: 50%;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--color-main-active); /* яскраво-блакитний */
  }

  & .title {
    max-width: 772px;
    margin-bottom: 20px;
  }

  & .line__wrp {
    padding-left: 0;
    padding-right: 0;
  }

  & .main-style-text {
    max-width: 580px;

    @include w1076 {
      max-width: 100%;
    }
  }

  &__img-rigth {
    margin-bottom: 30px;
    gap: 40px;
    @extend %flexStartBetwin;

    &:last-child > .main-style-text > .sub-title {
      padding-top: 32px;
    }

    @include w1076 {
      gap: 20px;
      flex-direction: column;

      & .main-style-text ul {
        margin-bottom: 0;
      }
    }
  }

  &__img-left {
    margin-bottom: 30px;
    gap: 40px;
    @extend %flexStartBetwin;

    @include w1076 {
      gap: 20px;
      flex-direction: column-reverse;

      & .main-style-text ul {
        margin-bottom: 0;
      }
    }
  }

  &__img-wrp {
    width: 100%;
    @include w1076 {
      height: 420px;
    }

    @include w620 {
      height: 276px;
    }
  }

  &__img {
    max-width: 580px;
    width: 100%;

    height: 563px;

    display: flex;
    object-fit: cover;
    object-position: center;

    @include w1076 {
      max-width: 100%;
      height: 100%;
    }
  }

  &__text-padding {
    padding-top: 16px;
  }

  &__img-title {
    max-width: 560px;
  }
}
